// custom styles

$light: #e6ecf0;
$primary: #6689a1;

.w-2 {
  width: 2%;
}

.w-10 {
  width: 10%;
}

.w-45 {
  width: 45%;
}

.transition-300 {
  -webkit-transition: width 1s;
  transition: all 0.3s linear;
}

// bootstrap default styles
@import './node_modules/bootstrap/scss/bootstrap';
// 1. Include functions first (so you can manipulate colors, SVGs, calc, etc)
@import './node_modules/bootstrap/scss/functions';

// 2. Include any default variable overrides here

// 3. Include remainder of required Bootstrap stylesheets
@import '../../node_modules/bootstrap/scss/variables';
@import './node_modules/bootstrap/scss/mixins';

.hover-dark:hover {
  background-color: $dark !important;
  color: white;
  cursor: pointer;
}

// 4. Include any optional Bootstrap components as you like
@import './node_modules/bootstrap/scss/root';
@import './node_modules/bootstrap/scss/reboot';
@import './node_modules/bootstrap/scss/type';
@import './node_modules/bootstrap/scss/images';
@import './node_modules/bootstrap/scss/containers';
@import './node_modules/bootstrap/scss/grid';

// 5. Add additional custom code here
